*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --discord-header-bg:#ADD8E6;
    --discord-nav-bg:#DAA520;
    --discord-hero-bg:#00008B;
    --discord-hero-prot-bg:#EE82EE;
    --discord-large-div-bg:#1E90FF;
    --discord-small-div-bg:#FFC0CB;
    --discord-section-bg-grey:#D3D3D3;
    --discord-big-div-bg:#228B22;
    --discord-footer-bg:black;
    --discord-footer-col-large-prot-bg:#F08080;
    --discord-footer-col-small-prot-bg:#20B2AA;
    --discord-footer-banner-prot-bg:#7FFFD4;
}

ul{
    list-style: none;
}

/* #region debug  */
.debug{
    .border-dashed{
        border: 2px black dashed;
    }
    .border-dashed-white{
        border: 2px white dashed;
    }

    .bg-grey{
        background-color: var(--discord-section-bg-grey);
    }
    
    .bg-green{
        background-color: var(--discord-big-div-bg);
    }
    
    .bg-aqua{
        background-color: var(--discord-footer-banner-prot-bg);
    }

    .col-small-bg{
        background-color: var(--discord-small-div-bg);
    }
    
    .col-large-bg{
        background-color: var(--discord-large-div-bg);
    }
    
    .header-nav-bg{
    background-color: var(--discord-nav-bg);
    }

    .jumbotron-bg{
    background-color: var(--discord-hero-prot-bg);
    }

    .link-col-large-bg{
    background-color: var(--discord-footer-col-large-prot-bg);
    }

    .link-col-bg{
        background-color: var(--discord-footer-col-small-prot-bg);
    }

    .footer-banner-bg{
    background-color: var(--discord-small-div-bg);
    }
}
/* #endregion debug  */

/* #region utils  */
.d-flex{
    display: flex;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.col-small{
    width: 40%;
    height: 400px;
}

.col-large{
    width: 60%;
}
/* #endregion utils  */

/* #region header  */
header{
    background-color: var(--discord-header-bg);
    padding: 10px 0;
}

.nav{
    justify-content: space-between;
    align-items: center; 
    >div{
        padding: 5px;
    }
    >div:nth-child(even){
        width: 60%;
        ul{
            justify-content: center;
            li{
                padding: 0 5px;
            }
        }
    }
    >div:nth-child(odd){
        width: 20%;
    }
    >div:last-of-type{
        justify-content: flex-end;
    }
}
/* #endregion header  */

/* #region main  */
main{
    section{
        padding: 30px 0;
    }
}

/* hero  */
.hero{
    background-color: var(--discord-hero-bg);
    .jumbotron{
        width: 60%;
        height: 300px;
        margin: 0 auto;
    }
}

/* section4  */
.col-single{
    width: 100%;
    height: 800px;
}
/* #endregion main  */

/* #region footer  */
footer{
    background-color: var(--discord-footer-bg);
}

/* link section  */
.link-section{
    padding: 10px 0 30px 0;
    border-bottom: 1px solid white;
    .link-col-large{
        width: calc((100% / 6) * 2);
        height: 400px;
    }
    .link-col{
        width: calc(100% / 6);
    }
}




/* banner section  */
.footer-banner-section{
    padding-top: 15px;
    .banner{
        padding: 10px 0;
        justify-content: space-between;
        div{
            padding: 5px;
        }
    }
}

/* #endregion footer  */



